<!DOCTYPE html>
<html>
  <body>

    <table class="table table-bordered table-hover table-condensed">
      <thead>
        <tr>
          <th title="Field #1">numPage</th>
          <td><%=data.numPage%></td>
        </tr>
        <tr>
          <th title="Field #2">name</th>
          <td><%=data.name%></td>
        </tr>
        <tr>
          <th title="Field #3">phNum</th>
          <td><%=data.phNum%></td>
        </tr>
        <tr>
          <th title="Field #4">address</th>
          <td><%=data.address%></td>
        </tr>
        <tr>
          <th title="Field #5">eMail</th>
          <td><%=data.eMail%></td>
        </tr>
        <tr>
          <th title="Field #6">pin</th>
          <td><%=data.pin%></td>
        </tr>
      </thead>
    </table>
  </body>
</html>
